<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="com.wei.service.UserServiceImpl"/>
    <bean id="log" class="com.wei.log.Log"/>
    <bean id="afterLog" class="com.wei.log.AfterLog"/>

    <!--    方式一，使用原生Spring API接口-->
    <aop:config>

        <aop:pointcut id="pointcut" expression="execution(* com.wei.service.UserServiceImpl.* (..))"/>

        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>

        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>
    </aop:config>

    <!--        方式二：自定义类-->
    <bean id="diy" class="com.wei.diy.DiyPointCut"/>
    <aop:config>
        <!--自定义切面，ref要引用的类-->
        <aop:aspect ref="diy">
            <!--切入点-->
            <aop:pointcut id="point" expression="execution(* com.wei.service.UserServiceImpl.* (..))"/>
            <!--通知-->
            <aop:before method="before" pointcut-ref="point"/>
            <aop:after method="after" pointcut-ref="point"/>
        </aop:aspect>
    </aop:config>

    <!--方式三：使用注解实现-->
    <bean id="annotationPointCut" class="com.wei.diy.AnnotationPointCut"/>
    <!--开启注解支持-->
    <aop:aspectj-autoproxy/>
    <!--jdk默认基于接口实现，改为Ture基于类实现cglib-->
    <aop:aspectj-autoproxy proxy-target-class="false"/>

</beans>